.view-player{
    width: 70%;
    display: flex;
    margin: 5px 10px 20px 40px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
 
}
.playerName{
    color:gray;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
img{
    height:300px;
    width: 300px;
    border-radius: 5px;
}
Button{
    width: 140px;
    height: 30px;
    background-color: orangered;
    border-radius: 5px;
    padding: 5%;
    
}
button:hover{
    cursor: pointer;
}
button:checked{
    background-color: palegoldenrod;
}